/* css for displaying the output*/
#back{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  padding-left:5%;
}

.outer{
  background-color:#0099ff;
  width:25%;
  margin:2%;
}

.content{
  background-color:#006bb3;
  width:100%;
}

.content p{
  color:white;
  padding:2%;
  background:#004d80;
  font-family:monospace;
}

img{
  margin:2%;
  width:96%;
}
